.App {
    font-family: "ktaiv-grotesk", sans-serif;
}

.App-header {
    position: relative;
    border-bottom: .2rem solid #e0344a;
}

.App-logo {
width: 200px;
height: 200px;
}

span {
position: absolute;
top: 50%;
color: #c22929;
font-size: 2em;
font-weight: bold;
}

.App-body p {
    margin-left: 50px;
    margin-top: 50px;
}
